__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
build/
dist/
release/

data/current_selection.json
data/premiere_cmd.json
data/premiere_diagnose.txt
data/premiere_effects.json
data/premiere_favorites.json
data/premiere_host_info.json
data/premiere_presets.json
data/premiere_project_items.json
data/premiere_sequences.json
data/worker.log

.debug
template_project/*.prin
template_project/Adobe Premiere Pro Auto-Save/
